<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TractorCompare.styles.css" asp-append-version="true" />
</head>


@using TractorCompare.Models;
@model IEnumerable<Tractors>

<div class="container-fluid">
    <div class="row">

        <div class="col-2">
            <h2>Sort by</h2>
            <div>
                <button class="btn-success" asp-action="Index">Show All</button>
            </div>
            <br />
            <div class="dropdown">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Brands
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li>@Html.ActionLink("John Deere", "Index", new { filter = ViewBag.JD })</li>
                    <li>@Html.ActionLink("Kubota", "Index", new { filter = ViewBag.Kub })</li>
                    <li>@Html.ActionLink("Kioti", "Index", new { filter = ViewBag.Kiot })</li>
                </ul>
            </div>
            <br />
            <div class="dropdown">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Size
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li>@Html.ActionLink("Sub-Compact", "Index", new { filter = ViewBag.Sub})</li>
                    <li>@Html.ActionLink("Small Frame", "Index", new { filter = ViewBag.SF })</li>
                    <li>@Html.ActionLink("Small Compact", "Index", new { filter = ViewBag.SC })</li>
                    <li>@Html.ActionLink("Compact", "Index", new { filter = ViewBag.Com })</li>
                </ul>
            </div>
        </div>


        


        <div class="col-10">
            <h2>Tractors</h2>
            <form asp-action="Index" method="get">
                <div class="form-actions no-color">
                    <p>
                        Find by Brand: <input type="text" name="SearchString" value="@ViewData["%CurrentFilter%"]" />
                        <input type="submit" value="Search" class="btn btn-default" /> |
                        <a asp-action="Index">Back to Full List</a>
                    </p>
                </div>
            </form>
            <div style="display: block">
                <a href="/Tractor/InsertTractor/">Add a new Tractor</a>
            </div>

            <table class="table table-hover" data-bs-spy="scroll" id="TractorTable">
                <thead>
                    <tr>
                        <th>Image</th>
                        <!--<th>Html.ActionLink("Brand", "Index", new {class="bi bi-arrow-down-up", sortOrder = ViewBag.BrandSort})</th>-->
                        <th>Brand </th>
                        <th>Model</th>
                        <th>Series/Size</th>
                        <th>Horse Power</th>
                        <th>PTO HP</th>
                        <th>Fuel cap.</th>
                        <th>Hydrualic steering</th>
                        <th>Hydrualic implement</th>
                        <th>3pt hitch lift cap.</th>
                    </tr>

                </thead>

                @foreach (var Tractor in Model)
                {
                    <tbody>
                        <tr>
                            <td>
                                <a href=/Tractor/viewTractor/@Tractor.tractorID>
                                    <img src="@Url.Content(@Tractor.image)" alt="tractor" width="150" />
                                </a>
                            </td>
                            <td>@Tractor.brand</td>
                            <td>@Tractor.Model</td>
                            <td>@Tractor.Class</td>
                            <td>@Tractor.HP HP</td>
                            <td>@Tractor.PTO HP</td>
                            <td>@Tractor.fuel Gal</td>
                            <td>@Tractor.hydroSteer Gpm</td>
                            <td>@Tractor.hydroImp Gpm</td>
                            <td>@Tractor.threePT Lbs</td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
        </div>
</div>


