<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TractorCompare.styles.css" asp-append-version="true" />
</head>


@using TractorCompare.Models;
@model IEnumerable<Tractors>

<div class="container-fluid">
    <div class="row">

        <div class="dropdown col-2">
            <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown">
                Brands
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-action="Index" method="get" name ="brands" value="all">Show All</a></li>
                <li><a class="dropdown-item" asp-action="Index" method="get" name="brands" value="jd">John Deere</a></li>
                <li><a class="dropdown-item" asp-action="Index" method="get" name="brands" value="kubota">Kubota</a></li>
            </ul>
        </div>


        <div class="col-10">
            <h2>Tractors</h2>
            <form asp-action="Index" method="get">
                <div class="form-actions no-color">
                    <p>
                        Find by Brand: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                        <input type="submit" value="Search" class="btn btn-default" /> |
                        <a asp-action="Index">Back to Full List</a>
                    </p>
                </div>
            </form>

            <table class="table table-hover" id="TractorTable">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Brand</th>
                        <th>Model</th>
                        <th>Engine HP</th>
                    </tr>
                </thead>

                @foreach (var Tractor in Model)
                {
                    <tbody>
                        <tr>
                            <td>
                                <a href=/Tractor/viewTractor/@Tractor.tractorID>
                                    <img src="@Url.Content(@Tractor.image)" alt="tractor" width="150" />
                                </a>
                            </td>
                            <td>@Tractor.Brand</td>
                            <td>@Tractor.Model</td>
                            <td>@Tractor.HP HP</td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    </div>
</div>