<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TractorCompare.styles.css" asp-append-version="true" />
</head>


@using TractorCompare.Models;
@model IEnumerable<Tractors>

<div class="container-fluid">
    <div class="row">

        <div class="col-1">
            <h2>Sort by</h2>
            <div>
                <button class="btn btn-outline-primary" onclick="location.href='/Tractor/Index/'" type="button">Show All</button>
            </div>
            <br />
            <div class="dropdown">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Brands
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li>@Html.ActionLink("John Deere", "Index", new { filter = ViewBag.JD })</li>
                    <li>@Html.ActionLink("Kubota", "Index", new { filter = ViewBag.Kub })</li>
                    <li>@Html.ActionLink("Kioti", "Index", new { filter = ViewBag.Kiot })</li>
                </ul>
            </div>
            <br />
            <div class="dropdown">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Size
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li>@Html.ActionLink("Sub-Compact", "Index", new { filter = ViewBag.Sub })</li>
                    <li>@Html.ActionLink("Small Frame", "Index", new { filter = ViewBag.SF })</li>
                    <li>@Html.ActionLink("Small Compact", "Index", new { filter = ViewBag.SC })</li>
                    <li>@Html.ActionLink("Compact", "Index", new { filter = ViewBag.Com })</li>
                </ul>
            </div>
            <br />
            <div>
                <button class="btn btn-outline-info" onclick="location.href='/Tractor/InsertTractor/'" type="button">Add a new Tractor</button>
            </div>

        </div>


        


        <div class="col-11">
            <h2>Tractors</h2>



            <table class="table table-hover" id="TractorTable">
                <thead class="bg-light sticky-top top-0">
                    <tr>
                        <th>Image</th>
                        <!--<th>Html.ActionLink("Brand", "Index", new {class="bi bi-arrow-down-up", sortOrder = ViewBag.BrandSort})</th>-->
                        <th>Brand </th>
                        <th>Model</th>
                        <th>Series/Size</th>
                        <th>Horsepower</th>
                        <th>PTO HP</th>
                        <th>Fuel cap.</th>
                        <th>Hydraulic steering</th>
                        <th>Hydraulic implement</th>
                        <th>3pt hitch lift cap.</th>
                    </tr>

                </thead>

                @foreach (var Tractor in Model)
                {
                    <tbody>
                        <tr>
                            <td>
                                <a href=/Tractor/viewTractor/@Tractor.tractorID>
                                    <img src="@Url.Content(@Tractor.image)" alt="Tractor image not found" width="150" />
                                </a>
                            </td>
                            <td>@Tractor.brandID</td>
                            <td>@Tractor.Model</td>
                            <td>@Tractor.Class</td>
                            <td>@Tractor.HP Hp</td>
                            <td>@Tractor.PTO Hp</td>
                            <td>@Tractor.fuel Gal</td>
                            <td>@Tractor.hydroSteer Gpm</td>
                            <td>@Tractor.hydroImp Gpm</td>
                            <td>@Tractor.threePT Lbs</td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
        </div>
</div>


